@media only screen and (min-width: 400px) {
    body {
        font-size: 26px;
    }
}
@media only screen and (min-width: 600px) {
    body {
        font-size: 16px;
    }
}

p, h1, h2, h3, td, th, button {
  font-family: verdana;
  padding: 0px;
  margin: 0px;
  margin-bottom: 12px;
}

p {
  font-size: 14px;
}

h3 {
  font-size: 18px;
}

h2 {
  font-size: 24px;
}

h1 {
  font-size: 32px;
}

#c {
    width: 960px;
    margin: 10px auto;
    padding: 20px;
    border-radius: 7px;
    background: #fff;
}
code {
    font-weight: bold;
    padding: 2px;
    font-family: Monospace;
    font-size: 95%;
    color: #449;
}
pre {
    margin: 0px 10px;
    padding: 5px;
    border-radius: 5px;
    background: #e8e8e8;
}
a {
      text-decoration:none;
   }
a:hover {
    text-decoration: underline;
}

img {
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 5px;
  width: 20px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 20, 20, 0.5);
}

.greyed {
  color: dimgrey;
}

hr {
  clear: right;
  background: dimgrey;
}
.thickheader {
  height: 2px;
}
ul {
  padding-left: 16px;
}
