body {
    font-family:"Segoe UI",Arial,sans-serif;
	font-weight:400;
	margin:10px 0;
}
@media only screen and (min-width: 400px) {
    body {
        font-size: 26px;
    }
}
@media only screen and (min-width: 600px) {
    body {
        font-size: 16px;
    }
}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.w3-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{
	font-family:"Segoe UI",Arial,sans-serif;
	font-weight:400;
	margin:10px 0
	}.w3-wide{letter-spacing:4px}
#intro {
    font-size: 1.3em;
}

#c {
    width: 960px;
    margin: 10px auto;
    padding: 20px;
    border-radius: 7px;
}
code {
    font-weight: bold;
    padding: 2px;
    font-family: Monospace;
    font-size: 95%;
    color: #449;
}
pre {
    margin: 0px 10px;
    padding: 5px;
    border-radius: 5px;
    background: #e8e8e8;
}
a {
      text-decoration:none;
   }
a:hover {
    text-decoration: underline;
}

.greyed {
  color: dimgrey;
}

hr {
  clear: right;
  background: dimgrey;
}
.thickheader {
  height: 2px;
}

.night{
        background: #333335;
        color : #d1cdd4;
}
.day{
        background: white;
        color: black;
}

.dark-mode-toggler {
  position: fixed;
  top: 5px;
  right: 20px;
}
.dark-mode-toggler label {
  position: relative;
}
.dark-mode-toggler input[type="checkbox"] {
  display: none;
}
.dark-mode-toggler input[type="checkbox"] + label::before {
  content: "";
  display: block;
  height: 26px;
  width: 60px;
  background: #fff;
  border: 2px solid #96979c;
  border-radius: 15px;
  position: absolute;
  top: 0px;
  left: -65px;
}
.dark-mode-toggler input[type="checkbox"] + label::after {
  content: "";
  display: block;
  height: 20px;
  width: 20px;
  background: #96979c;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: -62px;
  transition: all 0.4s ease-in;
}
.dark-mode-toggler input[type="checkbox"]:checked + label::before {
  background: #000;
  border: 2px solid #fff;
}
.dark-mode-toggler input[type="checkbox"]:checked + label::after {
  left: -28px;
  background: #000;
  border: 2px solid #fff;
  transition: all 0.4s ease-in;
}
