body {
    font-family:"Segoe UI",Arial,sans-serif;
	font-weight:400;
	margin:10px 0;
}
@media only screen and (min-width: 400px) {
    body {
        font-size: 26px;
    }
}
@media only screen and (min-width: 600px) {
    body {
        font-size: 16px;
    }
}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.w3-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{
	font-family:"Segoe UI",Arial,sans-serif;
	font-weight:400;
	margin:10px 0
	}.w3-wide{letter-spacing:4px}
#intro {
    font-size: 1.3em;
}

#c {
    width: 960px;
    margin: 10px auto;
    padding: 20px;
    border-radius: 7px;
}
code {
    font-weight: bold;
    padding: 2px;
    font-family: Monospace;
    font-size: 95%;
    color: #449;
}
pre {
    margin: 0px 10px;
    padding: 5px;
    border-radius: 5px;
    background: #e8e8e8;
}
a {
      text-decoration:none;
   }
a:hover {
    text-decoration: underline;
}

.greyed {
  color: dimgrey;
}

hr {
  clear: right;
  background: dimgrey;
}
.thickheader {
  height: 2px;
}

.night{
        background: #333335;
        color : #d1cdd4;
}
.day{
        background: white;
        color: black;
}

label {
   position:absolute;
   top:10px;
   right:10px;
   border:2px solid gray;
   border-radius:30px;
   padding:10px;
   cursor:pointer;
 }
.fa-sun-o {
   color:orange;
   font-size:25px;
   text-shadow:0px 0px 20px orange;
   transform:translateX(25px);
   transition:.3s;
 }
.fa-moon-o {
   color:white;
   font-size:25px;
   text-shadow:0px 0px 20px white;
   transform:translateX(0px);
   opacity:0;
   transition:.3s;
 }
 #switch-button:checked ~ label > .fa-sun-o{
   opacity:0;
   transform:translateX(0px);
 }
 #switch-button:checked ~ label > .fa-moon-o{
   opacity:1;
   transform:translateX(-25px);
 }
 #switch-button:checked ~ .content{
   background:black;
   color:white;
 }
